{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_footballscore/manage


    Example context (json):
    {
        
    }
}}
<h3 class="mt-5 text-center"> Scorecard</h3>

<table class="table table-hover table-striped">
   <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Team 1</th>
      <th scope="col" class="text-center" colspan="2">Result</th>
      <th scope="col" class="text-center">Team 2</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#texttodisplay}}
     <tr>
          <td class="text-center">{{team1}}</td>
          <td class="text-center">{{goal1}}</td>
          <td class="text-center">{{goal2}}</td>
          <td class="text-center">{{team2}}</td>
          <td class="text-center">
              <a href="{{editurl}}/?id={{id}}" class="btn btn-info">Edit </a>
              <button id="delete-btn-{{id}}" class="btn btn-danger delete-btn">Delete </button>
          </td>
     </tr>
    {{/texttodisplay}}
  </tbody>
</table>

<div class="text-center mt-5 pt-5">
    <a href="{{editurl}}" class="btn btn-primary">Create Entry </a>
</div>

